
.chart-container {
    min-width: 600px;
    margin: 0 auto;
    padding: 24px;
    background: linear-gradient(to bottom right, #ffffff, #dde3fe, #c0c6d7);
    border-radius: 12px;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.5);
}

.chart-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #16025e;
}
