.treatment-container {
  min-height: fit-content;
  height: 80vh;
  width: 90vw;
  max-width: 1200px;
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  background: #ffffff;
}

.pillIcon {
  font-size: 50px;
  text-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

.webTitle {
  font-size: 24px;
  color: #03014d;
  text-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

.treatment-header {
  flex-shrink: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.treatment-layout {
  flex: 1;
  display: flex;
  gap: 0px;
  overflow: hidden;
}

.treatment-sidebar {
  flex: 0;
  align-self: flex-start;
  margin-left: 5%;
  margin-right: 5%;
  position: sticky;
  top: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.selectSymptom .react-select__menu-list {
  scrollbar-width: thin !important;
  scrollbar-color: #aaa #f0f0f0 !important;
}

.selectSymptom .custom__menu-list::-webkit-scrollbar {
  width: 8px !important;
}

.selectSymptom .custom__menu-list::-webkit-scrollbar-track {
  background: #f0f0f0 !important;
  border-radius: 4px !important;
}

.selectSymptom .custom__menu-list::-webkit-scrollbar-thumb {
  background: #888 !important;
  border-radius: 4px !important;
}

.selectSymptom .custom__menu-list::-webkit-scrollbar-thumb:hover {
  background: #555 !important;
}

.treatment-scrollable-list {
  flex: 1;
  overflow-y: auto;
  max-height: 100%;
  border-radius: 12px;
  margin-inline: 5%;
  margin-bottom: 20px;

  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.treatment-scrollable-list::-webkit-scrollbar {
  width: 8px;
}

.treatment-scrollable-list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.treatment-scrollable-list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.treatment-scrollable-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card {
  border-radius: 12px;
  margin: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.selectSymptom {
  width: 100%;
}

.treatmentRow {
  display: flex;
  align-items: flex-start;
  margin-bottom: 8px;
}

.itemLabel {
  font-size: 14px;
  min-width: fit-content;
  font-weight: bold;
}

.itemValue {
  font-size: 14px;
  flex: 1;
}
.treatment-searchbar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 0 20px;
}

.selectSymptom {
  width: 100%;
  max-width: 500px;
}

