.treatment-container {
  height: 80vh;
  width: 90vw;
  max-width: 1200px;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: linear-gradient(to bottom right, #ffffff, #d1d9ff, #9ea5bb);
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

.pillIcon {
  font-size: 50px;
  text-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

.webTitle {
  font-size: 24px;
  color: rgb(0, 0, 0);
  text-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

.treatment-header {
  flex-shrink: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.treatment-layout {
  flex: 1;
  display: flex;
  gap: 0px;
  overflow: hidden;
}

.treatment-sidebar {
  flex: 0;
  align-self: flex-start;
  margin-left: 5%;
  margin-right: 5%;
  position: sticky;
  top: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.treatment-scrollable-list {
  flex: 1;
  overflow-y: auto;
  max-height: 100%;
  margin-right: 20px;
  border-radius: 8px;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.treatment-scrollable-list::-webkit-scrollbar {
  display: none;
}

.card {
  border-radius: 12px;
  margin: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.selectSymptom {
  width: 100%;
}

.treatmentRow {
  display: flex;
  align-items: flex-start;
  margin-bottom: 8px;
}

.itemLabel {
  font-size: 14px;
  min-width: fit-content;
  font-weight: bold;
}

.itemValue {
  font-size: 14px;
  flex: 1;
}
